<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ruta8.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8F94627298EC12F1AD84ABAC358A0AC5A0B4FCF7</string>
				<key>dateExpires</key>
				<string>12/23/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PEVL7W78Y7.com.bonobo-digital.apps.ruta8</string>
				<key>com.apple.developer.team-identifier</key>
				<string>PEVL7W78Y7</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>PEVL7W78Y7.com.bonobo-digital.apps.ruta8</string>
				</array>
			</dict>
			<key>name</key>
			<string>Ruta8.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>47970207-d763-4ada-8684-7fed363dbaa6</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.bonobo-digital.apps.ruta8</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PEVL7W78Y7</string>
				<key>name</key>
				<string>Corporativo Three Wise Monkeys, Corporation</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
